---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "_variables.scss",
    "highlight.scss",
    "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss",
    "../bower_components/components-font-awesome/scss/font-awesome.scss"
;

body {

    padding-top: 90px;
}

#header {
    .header-home-link {
        font-size: $font-size-large;
    }
}

.author {

    .author-avatar {
        .sidebar & {
            width: 200px;
        }
    }

    .author-bio {
        .jumbo & {
            @extend .lead;
        }

        font-style: italic;
    }

    .author-location {

        .jumbo & {

            font-size: floor(($font-size-base * 1.15));
            font-weight: 300;
            line-height: 1.4;

            @media (min-width: $screen-sm-min) {
              font-size: ($font-size-base * 1.5);
            }
        }
    }

    .author-social-links {

        font-size: floor(($font-size-base * 1.15));
        font-weight: 300;
        line-height: 1.4;

        @media (min-width: $screen-sm-min) {
          font-size: ($font-size-base * 1.5);
        }

        a {
            color: $headings-color;
        }
    }
}

.skill {
    .skill-logo {

        width: 75px;
    }
}

.post {
    .post-content {

        font-size: $font-size-large;

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {

            color: $text-color;
        }
    }

    .post-footer {

        font-size: $font-size-large;
    }
}
