<section id="author">
    <img id="avatar" class="img-circle" src="{{ "/images/avatar.png" | prepend: site.baseurl }}">
    <{{ include.name_header_tag }}>{{ site.author.name }}</{{ include.name_header_tag }}>
    <p class="bio"><em>{{ site.author.bio }}</em></p>
    <ul id="social-links" class="list-inline">
        <li><{{ include.social_link_header_tag }}><a href="https://github.com/{{ site.github_username }}" rel="me"><i class="fa fa-github"></i></a></{{ include.social_link_header_tag }}></li>
        <li><{{ include.social_link_header_tag }}><a href="https://twitter.com/{{ site.twitter_username }}" rel="me"><i class="fa fa-twitter"></i></a></{{ include.social_link_header_tag }}></li>
        <li><{{ include.social_link_header_tag }}><a href="https://uk.linkedin.com/in/{{ site.linkedin_username }}" rel="me"><i class="fa fa-linkedin"></i></a></{{ include.social_link_header_tag }}></li>
    </ul>
</section>
