---
layout: container-base
---
<div class="jumbo text-center">
    {% include author.html name_header_tag="h1" %}
</div>

<div class="container">
    <div class="row">
        <section class="col-md-5 col-md-push-7">
            <h3 class="page-header">About me</h3>
            <p>I am an agile web developer. I am of the opinion that...</p>
            <ul class="unordered-list">
                <li>Software is nothig but a value vector</li>
                <li>The most performant way of evolving products and teams is generally by making small, incremental, iterative improvements based on the retrospective analysis of data</li>
                <li>Software is more expensive to evolve and to fix than to code. Hence, for a business is cheaper adhere to <abbr title="Minimum viable product" class="initialism">MVP</abbr>s and high quality software than <em>fat</em> releases of low quality components</li>
            </ul>
        </section>

        <section class="col-md-7 col-md-pull-5">
            <h3 class="page-header">Recent posts</h3>

            <ul class="list-unstyled">
            {% for post in site.posts %}
                <li>
                    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                    {{ post.excerpt }}
                </li>
            {% endfor %}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </section>
    </div>
</div>
