---
layout: container-base
---
<div class="jumbo text-center">
    {% include author.html name_header_tag="h1" %}
</div>

<div class="container">
    <div class="row">
        <section class="col-md-5 col-md-push-7">
            <h3 class="page-header">Who am I?</h3>
            <p>I am an agile web developer. I am of the opinion that...</p>
            <ul class="unordered-list">
                <li>Software is nothing but a value vector</li>
                <li>The most performant way of evolving products and teams is by making small, iterative improvements based on the retrospective analysis of data</li>
                <li>Software is more expensive to evolve and to fix than to code. Hence, for a business is cheaper adhere to <abbr title="Minimum viable product" class="initialism">MVP</abbr>s and high quality software than <em>fat</em> releases of low quality components</li>
            </ul>
            <h3 class="page-header">My toolset</h3>
            <h4>Languages</h4>
            <ul class="list-inline">
                <li class="text-success"><strong>PHP</strong></li>
                <li class="text-success"><strong>Javascript</strong></li>
                <li class="text-primary">Ruby</li>
                <li class="text-warning">Golang</li>
                <li class="text-warning">Python</li>
            </ul>
            <h4>Frameworks</h4>
            <ul class="list-inline">
                <li class="text-success"><strong>Symfony 2, 3</strong></li>
                <li class="text-success"><strong>AngularJS</strong></li>
                <li class="text-primary">Express</li>
                <li class="text-primary">Silex</li>
                <li class="text-primary">Laravel</li>
            </ul>
            <h4>Testing</h4>
            <ul class="list-inline">
                <li class="text-success"><strong>Jenkins</strong></li>
                <li class="text-success"><strong>Cucumber</strong></li>
                <li class="text-success"><strong>Jasmine</strong></li>
                <li class="text-success"><strong>PHPUnit</strong></li>
                <li class="text-success"><strong>phpspec</strong></li>
                <li class="text-primary">Behat</li>
            </ul>
            <h4>Ops</h4>
            <ul class="list-inline">
                <li class="text-success"><strong>Docker</strong></li>
                <li class="text-success"><strong>Amazon Web Services</strong></li>
                <li class="text-primary">Chef</li>
                <li class="text-primary">Puppet</li>
            </ul>
            <h4>Data</h4>
            <ul class="list-inline">
                <li class="text-success"><strong>MySql</strong></li>
                <li class="text-success"><strong>Redis</strong></li>
                <li class="text-primary">RabbitMQ</li>
                <li class="text-primary">MongoDB</li>
            </ul>
        </section>

        <section class="col-md-7 col-md-pull-5">
            <h3 class="page-header">Recent posts</h3>

            <ul class="list-unstyled">
            {% for post in site.posts %}
                <li>
                    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                    {{ post.excerpt }}
                </li>
            {% endfor %}
            </ul>

            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
        </section>
    </div>
</div>
