---
layout: container-base
---
<div class="jumbo text-center">
    {% include author.html name_header_tag="h1" %}
</div>

<div class="container">
    <h3 class="page-header">Recent posts</h3>

    <ul class="list-unstyled">
    {% for post in site.posts %}
        <li>
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            {{ post.excerpt }}
        </li>
    {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
