<section class="author text-center">
    <img class="author-avatar img-circle" src="{{ "/images/avatar.png" | prepend: site.baseurl }}" alt="{{ site.author.name }}">
    <{{ include.name_header_tag }} class="author-name">{{ site.author.name }}</{{ include.name_header_tag }}>
    <div class="author-bio">{{ site.author.bio | markdownify }}</div>
    <p class="author-location">{{ site.author.location }}</p>
    <ul class="author-social-links list-inline">
        <li><a href="https://github.com/{{ site.github_username }}" title="{{ site.author.name | append: "'s Github profile" }}" rel="me"><i class="fa fa-github fa-2x"></i></a></li>
        <li><a href="https://twitter.com/{{ site.twitter_username }}" rel="me" title="{{ site.author.name | append: "'s Twitter profile" }}"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="https://uk.linkedin.com/in/{{ site.linkedin_username }}" rel="me" title="{{ site.author.name | append: "'s LinkedIn profile" }}"><i class="fa fa-linkedin fa-2x"></i></a></li>
    </ul>
</section>
